#__next {
  height: 100vh;
}

.dot-marker {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4185f33e;
}

.dot-marker::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: #4185f3;
}
